@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(../fonts/roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(../fonts/roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: RobotoCondensed-Light;
  src: url(../fonts/roboto/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: Barlow-Bold;
  src: url(../fonts/Barlow/Barlow-Bold.ttf);
}
@font-face {
  font-family: Barlow-SemiBold;
  src: url(../fonts/Barlow/Barlow-SemiBold.ttf);
}
@font-face {
  font-family: Barlow-Regular;
  src: url(../fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: Oswald-Bold;
  src: url(../fonts/Oswald/Oswald-Bold.ttf);
}
@font-face {
  font-family: Oswald-Regular;
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
  font-family: Oswald-SemiBold;
  src: url(../fonts/Oswald/Oswald-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/montserrat/Montserrat-Regular.otf);
}@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/montserrat/Montserrat-Medium.otf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/montserrat/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/montserrat/Montserrat-Bold.otf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/montserrat/Montserrat-Light.otf);
}


header .navbar{
padding: 1rem 1rem;
}
#sidebarCollapse i{
  color: #fff;
  font-size: 25px;
}
.logo{
  width: 150px;
}
.custom-logo {
    width: 250px;
    height: 40px;
}
.headercolor{
 /*position: fixed;*/
 background-color: #000000ad;
 display: block;
 z-index: 999;
 width: 100%;
 top: 0px;
 padding: .5rem 0px;
}
.headercolor .logo{
  width: 100px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 9999;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: Montserrat-Regular;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*.navbar-dark .navbar-brand {
    background-color: #0F384D;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}*/
.getStarted{
    background-color: #F78762;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    font-family: Barlow-Bold;
    padding: 15px;
    float: right;
    position: absolute;
    right: 8%;
    border-radius: 0px;
    letter-spacing: 0.2em;
  padding: 15px 37px;
    border-radius: 3px;
}
a.getStarted{
  text-decoration: none;
  color: #fff;
}



footer {
background-color: #191919;
 
    padding: 1% 2% 2% 2%;
}
footer .copyright{
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #D3EFF3;
}
footer .social-menu {
    float: right;
}
footer .social-menu a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 33px;
    display: inline-block;
    height: 33px;
    text-align: center;
    padding: 5px;
    margin: 0px 2px;
    cursor: pointer;
}

.js-anchor-link {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

/*.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 18px;
}
.navbar-brand img{
  margin-top: -7px;
}
.navbar .nav-item a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Barlow-Bold;
  letter-spacing: 2px;
  margin-top: 4px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}*/
.fa-bars {
  color: #f28661;
  font-size: 30px;
}
button:focus{
  outline: none;
}
.our_values_container {
  margin-bottom: 60px;
}

.bg-dark {
    background-color: #181818 !important;
    padding: 12px;
}
.get_button{
    background: #f28661;
    border: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 2px;
    padding: 12px 18px;
}
.section_heading{
  color: #181818;
  font-size: 43px;
    font-style: bold;
  line-height: 2.08;
  letter-spacing: 2.18px;
  text-align: center;
  margin: 70px 0;
  font-family: Oswald-SemiBold
}
.tools_card{
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 20px;
    /* width: 450px; */
    margin: 0 auto 30px 0;
    text-align: center;
    padding: 40px 20px 14px;
}
.toolcard_row{
    width: 90%;
    margin: 0 auto;
}
.fueled_container{
    /* background: linear-gradient(to bottom right, #16392e, rgba(39,91,75,1))!important; */
    background: linear-gradient(120deg, #15382e, #255847);
    /* height: 500px; */
    padding: 50px 0 80px;
}
.fueled_container img{
  width: 80%;
    margin-top: 40px;
}
.child_group{
    width: 100%;
    border-radius: 25px;
    margin-top: 60px;
}
.layerman{
    width: 100%;
    border-radius: 25px;
}
.coffee_img{
    width: 100%;
    border-radius: 25px;
}
.history_container{
  background: #f3f8ff;
  padding-bottom: 90px;
}
.about_container p{
  margin: 0;
  color: #454444;
  font-size: 20px;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: 1.03px;
  font-family: RobotoCondensed-Regular;
}
.about_container h1{
    font-size: 43px;
    margin-top: 70px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-family: Oswald-SemiBold
}
.child_container p{
  margin-top: 40px;
}
.toolcard_row p{
  color: #454444;
    /*font-weight: bold;*/
    font-size: 20px;
    letter-spacing: 1.3px;
    line-height: 1.49;
    font-family: RobotoCondensed-Regular;
}
.tools_card h5{
  font-weight: bold;
  padding: 20px 0 10px 0;
  font-size: 25px;
  line-height: normal;
  letter-spacing: 1.28px;
  text-align: center;
  color: #181818;
  font-family: Oswald-SemiBold;
}
.fueled_container p{
  color: #ebebeb;
  font-size: 20px;
  line-height: 1.49;
  letter-spacing: 1.03px;
  font-family: RobotoCondensed-Regular;
}
.fueled_container h3{
  color: #fff;
  font-size: 43px;
  font-weight: bold;
  margin: 70px 0;
  line-height: 2.08;
  letter-spacing: 2.18px;
  font-family: Oswald-SemiBold;
}
.invite_text{
  margin-bottom: 50px;
}
.history_container h2{
  margin: 0;
  padding: 80px 0 40px;
}
.history_container h4{
  font-family: Oswald-SemiBold;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.28px;
  
  color: #181818;
}
.history_container p{
 color: #6c757d;
 font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
line-height: 1.49;
  letter-spacing: 1.03px;
    font-family: RobotoCondensed-Regular;
}
.history_card{
  background: #fff;
  padding: 20px 17px 10px; 
    border-radius: 25px;
    box-shadow: 0 0 7px #ccc;
}
.flot_right{
  text-align: right;
  margin-top: 40px;
}
.margin_top{
  margin-top: 40px;
}
.footer{
  background: #181818;
  padding: 50px 0 30px 0;
}
.footer ul{
  padding: 0;
  list-style: none;
}
.footer ul li, .footer p{
  color:#f78762;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 1.1px;
  font-family: RobotoCondensed-Regular;
  
   
}
.footer ul li{
  margin: 20px 0;
}
.footer_heading{
  color: #fff!important;
    font-weight: bold!important;
    font-size: 24px!important;
    /* letter-spacing: 2px!important; */
    line-height: 24px!important;
    margin-bottom: 30px!important;
    text-transform: uppercase;
}
.Pickup_text{
  margin-top: 30px!important;
  font-size: 22px!important;
}
.pickuplist li{
  font-size: 18px!important;
}
.footer ul li span{
  width: 6px;
    height: 6px;
    color: #f28661;
    background: #f28661;
    display: inline-block;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.footer ul li .fa{
  margin-right: 10px;
}
.footer .linkfooter a{
  font-family: RobotoCondensed-Regular;
  font-size: 22px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 1.1px;
  color: #f78762;
}
.footer .linkfooter a:hover{
  text-decoration: none;
}
.fontsize-22 li{
  font-size: 22px;
}
.copyright_div{
  background:#15382e;
  text-align: center;
  padding: 20px;
}
.copyright_div p{
  color:#fff;
  font-weight: bold;
    font-size: 17px;
  letter-spacing: 1.9px;
    line-height: 24px;
    margin: 0;
    font-family: RobotoCondensed-Regular;
}



.pricing_container{
  background: url(../img/hero-pattern.svg) #f3f8ff;
    height: 830px;
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    /*margin-top: 5%;*/
}
.pricing_container h1{
  font-size: 42px;
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  text-align: center;
  font-family: Oswald-SemiBold;
}
.pricing_container p{
  margin: 0;
  color: #454444;
  font-size: 20px;
  line-height: 1.78;
  letter-spacing: 1.03px;
  font-family: RobotoCondensed-Regular;
  text-align: center;
}
.pricing_card{
  background: #fff;
  border-radius: 25px;
  text-align: center;
  padding: 30px 30px 10px 30px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 190px;
}
.pricing_card h2{
  font-size: 27px;
  line-height: 3.15;
  letter-spacing: 1.38px;
  color: #181818;
  font-family: Oswald-SemiBold;
}
.dolar_text{
  color: #15382e!important;
    font-size: 40px!important;
    font-family: inherit !important;
    margin: 24px 0 10px !important;
    line-height: 42px!important;
  font-family: Oswald-SemiBold !important;
}
.dolar_text .dollar-sign{
  font-size: 16px;
  vertical-align: top;
  line-height: 0;
  font-family: Oswald-SemiBold;
}
.perdaytext{
  color:#4e4d4d!important;
  letter-spacing: 0!important;
  margin-bottom: 18px!important;
  font-family: RobotoCondensed-Regular;
}
.orderbtn {
  box-shadow: 0 0 10px #ccc!important;
  margin: 0 auto 20px auto !important;
  width: 180px;
  border-radius: 50px;
  font-size: 13px!important;
  padding: 4px 0;
}
.pricegetbtn{
  background: #15382e;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 4px;
    margin-bottom: 30px;
    letter-spacing: 3.1px;
    font-family:Barlow-Bold;
}
.pricing_card ul{
  text-align: left!important;
  list-style: none;
  padding: 0;
}
.pricing_card ul li{
  margin: 10px;
  font-size: 19px !important;
  color: #6c757d!important;
  font-family: RobotoCondensed-Light!important;
}
.pricing_card ul li img{
  margin-right: 10px;
}
.bgcolorchange{
  background:#f28661!important;
  margin-top: 30px!important;
}
.dolar_top{
  margin-top: 60px!important;
  margin-bottom: 30px!important;
  font-size: 60px!important;
}
.center_card{
  margin-top: 150px!important;
}
.center_card h2{
  padding-top: 20px;
}
.card_height{
  height: 612px!important;
}
.carge_container{
  text-align: center;
  margin-top: 350px;
  margin-bottom: 60px;
}
.carge_container p{
  color: #454444;
    font-size: 18px;
    line-height: 1.78;
  letter-spacing: 1.03px;
    font-family:RobotoCondensed-Regular;
}
.printers_img{
  margin-top: 30px;
}
.noaddbtn .fa{
  margin: 0 10px;
  background: #e8ecf7;
  border-radius: 50px;
  padding: 4px 4px 2px 5px;
  font-size: 11px;
  color: #fff;
  line-height: 12px;
}
.addbtn .fa{
  margin: 0 10px;
  background: #15382e;
  border-radius: 50px;
  padding: 4px 4px 2px 5px;
  font-size: 11px;
  color: #fff;
  line-height: 12px;
}
.minus-btn, .plus-btn{
  cursor: pointer;
}

.most-p{
  font-size: 27px;
 letter-spacing: 1.38px;
    color: #f28661;
    font-family: Oswald-SemiBold;
}
.bottom-val{
  vertical-align: bottom !important;
}

.testmonial-heading {
    background: url(../img/hero-pattern.svg) #f3f8ff;
    height: 1000px;
    background-size: 100%;
    background-position: bottom center;
  }
.testmonial-heading h1 {
    font-size: 42px;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-align: center;
    font-family: Oswald-SemiBold;
}
.testmonial-heading p {
    margin: 0;
    color: #454444;
    font-size: 20px;
    line-height: 1.78;
    letter-spacing: 1.03px;
    font-family: RobotoCondensed-Regular;
    text-align: center;
}

.testmonial-seewhy h4{
  font-family: Oswald-SemiBold;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: left;
  color: #181818;
}
.testmonial-seewhy p{
  font-family: RobotoCondensed-Regular;
  font-size: 20.5px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: 1.03px;
  text-align: left;
  color: #454444;
}

.testmonial_card {
    background: #fff;
    border-radius: 25px;
    text-align: center;
    padding: 30px 30px 10px 30px;
    box-shadow: 0 0 10px #ccc;
    margin: 20px 10px;
}
.testmonial_card .media img{
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.testmonial_card .media .media-body .name{
  font-family: RobotoCondensed-Bold;
  font-size: 18px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: left;
  color: #181818 !important;
  margin-top: 5px;
  margin-bottom: 5px; 
}
.testmonial_card .media .media-body .designation{
font-family: RobotoCondensed-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: left;
  color: rgba(41, 51, 64, 0.6);

}
.testmonial_card .desc{
  font-family: RobotoCondensed-Light;
  font-size: 18px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.9px;
  text-align: left;
  color: #454444;
}

.testmonial_card .desc{
  font-family: RobotoCondensed-Light;
  font-size: 18px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.9px;
  text-align: left !important;
  color: #454444;
}

.testmonial_card .spnsr{
   font-family: Oswald-SemiBold;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: #08382e;
  margin: 25px 0;
}
.combined-shape{
  margin-top: -35%;
  margin-left: 60%;
}

.mt-10{
  margin-top: 12%;
}
.tst-brandname{
   font-family: Oswald-SemiBold;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: left;
  color: #181818;
}
.tst-brand-desc{
  font-family: RobotoCondensed-Regular;
  font-size: 20px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: left;
  color: #454444;
}
.testmonial_logo_card {
    background: #fff;
    border-radius: 25px;
    text-align: center;
    padding: 30px 30px 10px 30px;
    box-shadow: 0 0 10px #ccc;
    margin: 20px 10px;
    height: 138px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 575px){
.custom-logo {
    width: 160px !important;
    height: 36px !important;
}
.getStarted {
    font-size: 10px !important;
    padding: 8px !important;
    float: right;
    position: absolute;
    right: 18%;
}
footer {
    background-color: #191919;
    height: auto;
    padding: 1% 2% 2% 2%;
}
footer .social-menu {
    float: initial;
    text-align: center;
}
}

@media only screen and (max-width: 812px) {
  .history_card{
    margin-left: 20px;
  }
  .testmonial-heading {
    height:auto !important;
   
  }
}
@media only screen and (max-width: 823px) {
  .carge_container{
    margin-top: 550px;
    padding: 0 30px;
  }
  .orderbtn {
    box-shadow: 0 0 10px #ccc!important;
    border-radius: 50px;
    font-size: 9px!important;
  }
  .card_height {
    height:inherit!important;
  }
  .pricing_card{
    padding: 30px 16px 10px 16px;
  }
  .pricing_card ul li{
    margin: 10px 0;
  }
  .history_card{
    margin-left: 20px !important;
  }
  .footer .linkfooter a{
    font-size: 18px;
  }
  .fontsize-22 li {
    font-size: 18px;
  }
  .Pickup_text{
    font-size: 18px!important;
  }
  .pickuplist li{
    font-size: 16px!important;
  }
}
@media only screen and (max-width: 767px) {
  .about_container h1{
    margin-top: 30px;
  }
  .child_container p {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .layerman {
    margin-bottom: 20px;
  }
  .section_heading{
    margin: 40px 0;
  }
  .fueled_container h3{
    margin: 30px 0;
  }
  .fueled_container{
    padding: 24px 0 80px;
  }
  .history_container img {
    display: none;
  }
  .history_container h2{
    padding: 40px 0 40px;
  }
  .history_card{
    margin: 0 20px;
  }
  .history_card{
    margin: 20px;
  }
  .margin_top {
    margin-top: 5px;
  }
  .history_container {
    padding-bottom: 30px;
  }
  .flot_right{
    text-align: left;
  }
  .pricing_container{
    height: inherit;
  }
  .pricing_card{
    margin-top: 30px;
  }
  .pricing_container h1{
    padding-top: 30px;
  }
  .card_height{
    height: inherit;
  }
  .center_card{
    margin-top: 40px!important;
  }
  .carge_container{
    margin-top: 50px;
  }
  .pricing_container{
    padding-bottom: 40px;
  }
  .footer .linkfooter a{
    font-size: 18px;
  }
  .fontsize-22 li {
    font-size: 18px;
  }
  .Pickup_text{
    font-size: 18px!important;
  }
  .pickuplist li{
    font-size: 16px!important;
  }

}
